:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: #cbb7e2;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}

header,
main,
footer {
    width: 100%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin: 0 auto;
    display: block;
    text-align: center;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    color: var(--accent2-color);
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16PX;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text make sure there is enpugh contrast with the background-color */
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 125px;
    color: var(--secondary-color);
}

.adventures {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-align: center;
}

.adventures img {
    width: 150px;
    height: auto;
    display: flex;
}

form {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/10%);
    padding: 1rem;
    background-color: #ddd;
    color: #111;
    width: 50%
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/10%);
    padding: 1rem;
    width: 100%;
}

.title {
    text-align: center;
}

.map {
    width: 50%;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: navy;
    color: #fff;
    margin: 10px auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0 0 0/10%);
}

.purpose {
    display: flex;
}

.checkbox {
    display: block;
    align-items: center;
}

.contact {
    display: flex;
}

.employee {
    display: flex;
}