nav {
    background-color: #eee;
    padding: 1rem;
}

nav a {
    color: #333;
    padding: 1rem;
    display: block;
}

main {
    max-width: 840px;
}

h1 {
    color: #333;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    box-shadow: azure;
}

aside {
    width: 150px;
    margin: 1;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;

}

aside img {
    width: 200px;
    height: auto;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}